 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 



 /*
  *= require rails_bootstrap_forms
  *= require font-awesome
  */




header {
    width: 100%;
    background-color: #211a27;
    height: 90px;
    position: relative;
    z-index: 5;
}