<!DOCTYPE html>
<html>
<head>


<!-- This file is what create the standard page environemnt for rails different pages.....
     -this is why we don't need  href tags any where across all pagename.html.erb  -->
  <title>Depot2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
